<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InventoryManager</display-name>
  <welcome-file-list>
    <welcome-file>/Inventory/home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InventoryController</display-name>
    <servlet-name>InventoryController</servlet-name>
    <servlet-class>com.inventory.controller.InventoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InventoryController</servlet-name>
    <url-pattern>/InventoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log4JServlet</display-name>
    <servlet-name>Log4JServlet</servlet-name>
    <servlet-class>com.inventory.controller.Log4JServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4JServlet</servlet-name>
    <url-pattern>/Log4JServlet</url-pattern>
  </servlet-mapping>
</web-app>